{{#partial "content"}}
    <div style="color:white;" class="container">
        <div class="row">
        <h1 style="text-align:center;">ANIMALS</h1>
            <div class="col-md-6">
                {{#if animal}}
                    <h3 style="text-decoration:underline;">Non-Endangered animals list!</h3>
                    {{#each animal }}
                        <h4 style="text-align:left;">---{{ id }}--- {{ name }}</h4>
                    {{/each}}
                {{else}}
                    <h1>No Animals registered yet</h4>
                {{/if}}
            </div>
            <div class="col-md-6">
                {{#if endangeredAnimal}}
                    <h3 style="text-decoration:underline;">Endangered animals list!</h3>
                    {{#each endangeredAnimal }}
                        <h4 style="text-align:left;">----{{ id }}----</h4>

                    <table style="text-align:center; color:white;">
                        <tr >
                            <th id="header">Name</th>
                            <th id="header">Health level</th>
                            <th id="header">Age level</th>
                        </tr>
                        <tr>
                            <td id="data"><strong>{{ name }} </strong></td>
                            <td id="data">{{ healthLevel }} </td>
                            <td id="data">{{ ageCalc }}</td>
                        </tr>
                    </table>
                    {{/each}}
                {{else}}
                    <h1>No Endangered Animals registered yet</h1>
                {{/if}}
            </div>
        </div>
    </div>
{{/partial}}
<style>
    table,th#header,td#data {
        border: 1px solid black;
        border-collapse:collapse;
    }
    th#header, td#data {
        padding: 15px;
        border-left: 1px solid black;
    }
    th#header {
        text-align: left;
    }
    table {
        border-spacing: 5%;
    }
    body{
        background-image: url("https://bcc53877d7aa0a135b9a-1452ca75bf8985207bb5b0c44a65ef28.ssl.cf4.rackcdn.com/Product-800x800/f122163b-6b05-422b-a373-067dcd82cefe.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        }
    </style>
</style>
{{> layout.hbs}}