{{#partial "content"}}
    <div class="container">
        <div class="row">
        <h1 style="text-align:center;">ANIMALS</h1>
            <div class="col-md-6">
                {{#if animal}}
                    <h3>Non-Endangered animals list!</h3>
                    {{#each animal }}
                        <p>{{ id }}: {{ name }} </p>
                    {{/each}}
                {{else}}
                    <h1>No Animals registered yet</h1>
                {{/if}}
            </div>
            <div class="col-md-6">
                {{#if endangeredAnimal}}
                    <h3>Endangered animals list!</h3>
                    {{#each endangeredAnimal }}
                        <p>----{{ id }}----</p>
                        <p>{{ name }} </p>
                        <p>{{ healthLevel }} </p>
                        <p>{{ ageCalc }} </p>
                    {{/each}}
                {{else}}
                    <h1>No Endangered Animals registered yet</h1>
                {{/if}}
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}